In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# plt.style.use('seaborn-notebook')
plt.style.use('ggplot')
#plt.style.use('fivethirtyeight')
import seaborn as sns
import math
import gc
from mesa import Agent, Model
from mesa.time import RandomActivation
from mesa.time import SimultaneousActivation
from mesa.datacollection import DataCollector
import random

%matplotlib inline

In [2]:
df = pd.read_csv('Agents.csv')
df.head()

   Step  AgentID  t_c3  t_b1  t_c1  t_c2  t_b2  t_b4  t_b3
0     0        0     0     0     0     0     0     0     0
1     0        1     0     0     0     0     0     0     0
2     0        2     0     0     0     0     0     0     0
3     0        3     0     0     0     0     0     0     0
4     0        4     0     0     0     0     0     0     0

In [3]:
a = df.groupby('AgentID')['t_c3' ,'t_b1','t_c1','t_c2','t_b2','t_b4','t_b3'].sum()

         t_c3  t_b1  t_c1  t_c2  t_b2  t_b4  t_b3
AgentID
0           0     0     0     0     0     0     0
1           0     0     0     0     0     0     0
2           0     0     0     0     0     0     0
3           0     0     0     0     0     0     0
4           0     0     0     0     0     0     0
5           0     0     0     0     0     0     0
6           0     0     0     0     0     0     0
7           0     0     0     0     0     0     0
8           0     0     0     0     0     0     0
9           0     0     0     0     0     0     0
10          0     0     0     0     0     0     0
11          0     0     0     0     0     0     0
12          0     0     0     0     0     0     0
13          0     0     0     0     0     0     0
14          0     0     0     0     0     0     0
15          0     0     0     0     0     0     0
16          0     0     0     0     0     0     0
17          0     0     0     0     0     0     0
18          0     0     0     0     0     0     0
19          0     0     0     0     0     0     0
20          0     0     0     0     0     0     0
21          0     0     0     0     0     0     0
22          0     0     0     0     0     0     0
23          0     0     0     0     0     0     0
24          0     0     0     0     0     0     0
25          0     0     0     0     0     0     0
26          0     0     0     0     0     0     0
27          0     0     0     0     0     0     0
28          0     0     0     0     0     0     0
29          0     0     0     0     0     0     0
...       ...   ...   ...   ...   ...   ...   ...
4970        0     0     0     0     0     0     0
4971        0     0     0     0     0     0     0
4972        0     0     0     0     0     0     0
4973        0     0     0     0     0     0     0
4974        0     0     0     0     0     0     0
4975        0     0     0     0     0     0     0
4976        0     0     0     0     0     0     0
4977        0     0     0     0     0     0     0
4978        0     0     0     0     0     0     0
4979        0     0     0     0     0     0     0
4980        0     0     0     0     0     0     0
4981        0     0     0     0     0     0     0
4982        0     0     0     0     0     0     0
4983        0     0     0     0     0     0     0
4984        0     0     0     0     0     0     0
4985        0     0     0     0     0     0     0
4986        0     0     0     0     0     0     0
4987        0     0     0     0     0     0     0
4988        0     0     0     0     0     0     0
4989        0     0     0     0     0     0     0
4990        0     0     0     0     0     0     0
4991        0     0     0     0     0     0     0
4992        0     0     0     0     0     0     0
4993        0     0     0     0     0     0     0
4994        0     0     0     0     0     0     0
4995        0     0     0     0     0     0     0
4996        0     0     0     0     0     0     0
4997        0     0     0     0     0     0     0
4998        0     0     0     0     0     0     0
4999        0     0     0     0     0     0     0

[5000 rows x 7 columns]

In [ ]:
a = df.groupby('AgentID').agg({'t_b1': np.mean, 't_b2':'count'})

In [ ]:
df.t_b1.value_counts(normalize = True)

In [ ]:
a = df.groupby('AgentID')['t_c3' ,'t_b1','t_c1','t_c2','t_b2','t_b4','t_b3']

In [11]:
b = a[(a.t_b1 >0)]

In [12]:
b

         t_c3  t_b1  t_c1  t_c2  t_b2  t_b4  t_b3
AgentID
376         0    33     0     0     0     0     0
402         0    49     0     0     0     0     0
474         0    46     0     0     0     0     0
493         0    20     0     0    20     0     0
1169        0    45     0     0    45     0     0
1301        0    35     0     0    35     0     0
1543        0    36     0     0     0     0     0
1623        0    48     0     0     0     0     0
1754        0    43     0     0    43     0     0
1863        0    42     0     0     0     0     0
1873        0    39     0     0    39     0     0
2088        0    25     0     0     0     0    25
2453        0    39     0     0     0     0     0
2532        0    38     0     0     0     0     0
2631        0    48     0     0    48     0     0
2681        0    34     0     0    34     0     0
3030        0    35     0     0     0     0     0
3084        0    48     0     0     0     0     0
3121        0    42     0     0     0     0     0
3129        0    39     0     0     0     0     0
3142        0    45     0     0     0     0     0
3198        0    28     0     0    28    28     0
3365        0    40     0     0    40     0     0
3975        0    40     0     0    40     0     0
4091        0    41     0     0     0     0     0
4278        0    47     0     0    47     0     0
4315        0    37     0     0     0     0     0
4491        0    24     0     0    24     0     0
4516        0    20     0     0     0     0     0
4544        0    48     0     0     0     0     0
4681        0    36     0     0     0     0     0
4773        0    36     0     0     0     0     0
4910        0    48     0     0     0     0     0

In [ ]:
new = df.groupby('AgentID')['t_b1'].sum().reset_index()

In [ ]:
import lifelines as ll

In [ ]:
d = ll.datasets.load_dd()
d

In [ ]:
from lifelines import KaplanMeierFitter

In [ ]:
kmf = KaplanMeierFitter()

In [ ]:
T = df['Step']

In [ ]:
C = df['t_b1']

In [ ]:
kmf.fit(T, event_observed= C)